################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Relationship.Database/bin/Debug
/Relationship.Database/obj/Debug
/.vs
/TestResults